<div class="w-full flex justify-center items-center mt-10">
  <div class="w-full shadow-2xl bg-red rounded-lg border md:mt-0 sm:max-w-md xl:p-0 bg-orange-300 border-orange-400">
    <div class="w-full rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-orange-300 border-orange-300">
      <div style="background-color: #FE8616;" class="p-8 rounded-lg shadow text-white flex flex-col justify-center items-center">

        <h1 class="flex justify-center text-xl mb-6 font-bold leading-tight tracking-tight md:text-2xl text-white">
                    Edit <%= resource_name.to_s.humanize %>
        </h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="flex flex-col items-center">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-xl text-black" %>
    <%= f.label :email, class: "mt-2" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="flex flex-col items-center mb-4">
      <%= f.password_field :password, autocomplete: "new-password", class: "rounded-xl text-black"  %>
      <%= f.label :password, class: "mt-2" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      <em>(leave blank if you don't want to change it)</em>
  </div>

  <div class="flex flex-col items-center mb-4">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded-xl text-black"  %>
    <%= f.label :password_confirmation, class: "mt-2" %>
  </div>

  <div class="flex flex-col items-center mb-4">
    <%= f.password_field :current_password, autocomplete: "current-password", class: "rounded-xl text-black mb-2"  %>
    <%= f.label :current_password, class: "mb-2" %> 
    <span class="flex justify-center">(we need your current password to confirm your changes)</span>
  </div>

  <div class="flex flex-col items-center">
    <%= f.label :Profile_picture %>
    <%= f.file_field :image, class: "flex justify-center items-center mt-2" %>
  </div>

  <div class="actions flex justify-center mt-5 mb-2">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "mb-2" %></div>

<%= link_to "Back", :back %>
</div>
</div>
</div>
</div>
