<div class="flex justify-center items-center mt-40">
  <div class="w-full shadow-2xl bg-red rounded-lg border md:mt-0 sm:max-w-md xl:p-0 bg-orange-300 border-orange-400">
    <div class="w-full rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-orange-300 border-orange-300">
      <div style="background-color: #FE8616;" class="p-8 rounded-lg shadow flex flex-col justify-center items-center">
        <h1 class="flex justify-center text-xl mb-6 font-bold leading-tight tracking-tight md:text-2xl text-white">
                    Sign up
        </h1>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-xl" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "rounded-xl"  %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded-xl"  %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image, class: "rounded-xl" %>
  </div>

  <div class="actions flex justify-center mt-6 mb-3">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>