<p style="color: green"><%= notice %></p>
<h1>Categories</h1>

<% if user_signed_in? %>
    <%= link_to "Profile", edit_user_registration_path %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete %>
<% end%>

<div id="categories">
    <% @categories.each do |category| %>
    <% render category%>
    <p>
        <%= link_to "#{category.name}", category%>
    </p>
    <% end %>
</div>

<%= link_to "New category", new_category_path%>