<p style="color: green" class="fixed left-1/2"><%= notice %></p>


<% if user_signed_in? %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "fixed right-3 top-3 text-white bg-true-orange hover:bg-orange-500 focus:outline-none focus:ring-4 focus:ring-blue-200 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2" %>
    <% end%>
<%= link_to categories_path do %>
<i class="fixed left-3 top-3 fa-solid fa-arrow-left bg-true-orange text-white text-2xl px-3 py-2.5 rounded-full"></i>
<% end %>

<div class="flex justify-center h-full">
  <div class="flex flex-row rounded-xl mt-20 bg-white/5 backdrop-blur-sm p-0.5 shadow-xl ring-1 ring-gray-900/5 w-11/12 h-5/6">

    <div class="left pane w-1/4 p-5 bg-true-orange/20 rounded-tl-xl rounded-bl-xl text-true-orange">
      <div>
        <% if user_signed_in? %>
        <%= link_to "Profile", edit_user_registration_path %>
        <% end%>
      </div>
      
      <div class="categories shortcut overflow-y-auto flex flex-col justify-center">
        <span class="flex justify-center mt-10 mb-3 text-2xl font-light">
        Categories
        </span>
			<% @categories.each do |category| %>
				<%= link_to category, class: "text-2xl font-extralight mt-3 flex items-center pl-10 rounded-xl h-1/6 text-true-orange transition ease-in-out delay-150 hover:-translate-y-1 duration-300" do %>
					<%= category.name %>
				<% end %>
			<% end %>
      </div>
		</div>

  <div class="right pane flex flex-col w-full p-5 overflow-y-auto font-light">
    <div class="flex flex-row justify-between items-center">
    <%= render @category %><span class="font-extralight italic mr-12">Today <span class="font-bold not-italic bg-true-orange/30 text-transparent text-xl">&#9744;</span></span>
    </div>
    <div class="flex flex-row mb-10 font-extralight text-xs">
      <%= link_to "Edit Category", edit_category_path(@category) %>

      <%= button_to "Delete Category", @category, method: :delete,  data: { confirm: 'Are you sure?' }, class: "ml-2" %>
    </div>

  
  <table class="w-full text-sm text-left rtl:text-right">
  <thead>
    <tr>
      <th scope="col" class="px-6 py-5">Task</th>
      <th scope="col" class="px-6 py-5"></th>
      <th scope="col" class="px-6 py-5">Edit</th>
      <th scope="col" class="px-6 py-5">Delete</th>
    </tr>
  </thead>
  
  <tbody>
    <% @category.tasks.order(created_at: :desc).each do |task| %>
    <tr class="<%= task.created_at.to_date == Date.today ? 'bg-true-orange/30' : 'bg-inherit' %>">
      <td class="px-6 py-4">
        <%= form_for [@category, task] do |f| %>
        <section id="completed" style="<%= 'text-decoration: line-through;' if task.completed %>">
        <span id="today">
        <%= task.name %>
        </span>
        </section>
      </td>
      <td class="px-6 py-4">
        <%= f.check_box :completed, class: "w-4 h-4 text-orange-300 bg-gray-100 border-gray-300 rounded focus:ring-orange-500", onchange: 'document.getElementById("completed").style.textDecoration = this.checked ? "line-through" : "none"; this.form.submit()' %>
        <% end %>
      </td>
      <td class="px-6 py-4"><%= link_to edit_category_task_path(@category, task) do %><i class="fa-regular fa-pen-to-square"></i><% end %></td>
      <td class="px-6 py-4"><%= button_to "Delete task", [@category, task], method: :delete %></td>
      <% end %>
    </tr>
  </tbody>
  </table>



  


      <div class="flex justify-center mt-5">
        <%= link_to new_category_task_path(@category) do %>
			<img class="w-10 h-10 mr-2 hover:rotate-90 duration-500" src="<%= asset_path('logo-base-256x256.png') %>" alt="logo">
		<% end %>
      </div>

    </div>
    
  </div>

</div>