<p style="color: green"><%= notice %></p>

<% if user_signed_in? %>
    <%= link_to "Profile", edit_user_registration_path %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete %>
<% end%>

<%= render @category %>

<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>

<h2>Tasks</h2>
<% @category.tasks.each do |task| %>
  <p>
    <strong>Tasks:</strong>
  </p>

  <p>
  <%= form_for [@category, task] do |f| %>
  <span id="completed" style="<%= 'text-decoration: line-through;' if task.completed %>">
  <%= task.name %>
  </span>
  <%= f.check_box :completed, class: "put tw class here", onchange: 'document.getElementById("completed").style.textDecoration = this.checked ? "line-through" : "none"; this.form.submit()' %>
  <% end %>
  </p>

  <p>
    <%= link_to "Edit this task", edit_category_task_path(@category, task) %>
    <%= button_to "Delete this task", [@category, task], method: :delete %>
  </p>
<% end %>

<h2>Add a Task:</h2>
<%= form_with model: [ @category, @category.tasks.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<div>
  <%= link_to "Back to categories", categories_path %>
</div>